@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --main-color: #FFD700;
  --main_gradient-color: linear-gradient(90deg, #FFD700 0%, #FFCC00 100%);

  --text_color_L1: #FFD700;
  --text_color_L2: #ACAFC2;
  --text_color_L3: #757BA6;
  --text_color_L4: #000000;
  --text_color_L5: #ff4d4f;

  --bg_color_L1: #000000;
  --bg_color_L2: #000000;
  --bg_color_L3: #374992;
  --bg_color_main: #9195a3;

  --divider-color: #374992;
  --van-checkbox-label-color: #FFFFFF;
}

html, body {
  margin: 0;
  padding: 0;
  width: 10rem;
    min-height: 100vh;
  display: flex;
    justify-content: center;
  background: var(--bg_color_main);
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif;
}
root {
    width: 10rem;
    min-height: 100vh;
    background: var(--bg_color_L1);
}
